



          
          
          <!-- Header -->

          
		<header id="header">
			   <h1>Mis fotografías</h1>
            <nav class="navbar bg-body-tertiary">
                <form class="container-fluid justify-content-start">
<%= link_to "Conóceme", photopage_about_path, class: "btn btn-primary", id: "btnRedirectReload" %>

<script>
  document.getElementById("btnRedirectReload").addEventListener("click", function() {
    // Redirige a la nueva página
    window.location.href = "<%= photopage_about_path %>";

    // Recarga la página después de 1 segundo (1000 milisegundos)
    setTimeout(function() {
      location.reload();
    }, 1000);
  });
</script>

              </form>
            </nav>
 
						<p>Tomadas en de mis viajes <a href="http://html5up.net/lens"> - Link Lens</a></p>
						<ul class="icons">
							<li><a href="#" class="icon brands fab fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
		</header>
                       
          
          <!-- Thumbnail -->
					<section id="thumbnails">
						<article>
                <%= link_to image_path('fulls/01.jpg'), class: "thumbnail", data: { position: "left center" } do %>
                    <%= image_tag 'thumbs/01.jpg', alt: "" %>
                    <% end %>

							<h2>Diam tempus accumsan</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</article>
						<article>
                <%= link_to image_path('fulls/02.jpg'), class: "thumbnail" do %>
                    <%= image_tag 'thumbs/02.jpg', alt: "" %>
                    <% end %>
						
							<h2>Vivamus convallis libero</h2>
							<p>Sed velit lacus, laoreet at venenatis convallis in lorem tincidunt.</p>
						</article>
						<article>
                <%= link_to image_path('fulls/03.jpg'), class: "thumbnail" do %>
                                    <%= image_tag 'thumbs/03.jpg', alt: "" %>
                                    <% end %>

							<h2>Nec accumsan enim felis</h2>
							<p>Maecenas eleifend tellus ut turpis eleifend, vitae pretium faucibus.</p>
						</article>
						<article>
                <%= link_to image_path('fulls/04.jpg'), class: "thumbnail" do %>
                                    <%= image_tag 'thumbs/04.jpg', alt: "" %>
                                    <% end %>
							<h2>Donec maximus nisi eget</h2>
							<p>Tristique in nulla vel congue. Sed sociis natoque parturient nascetur.</p>
						</article>
						<article>
                <%= link_to image_path('fulls/05.jpg'), class: "thumbnail" do %>
                                    <%= image_tag 'thumbs/05.jpg', alt: "" %>
                                    <% end %>
							<h2>Nullam vitae nunc vulputate</h2>
							<p>In pellentesque cursus velit id posuere. Donec vehicula nulla.</p>
						</article>
						<article>
                <%= link_to image_path('fulls/06.jpg'), class: "thumbnail" do %>
                                    <%= image_tag 'thumbs/06.jpg', alt: "" %>
                                    <% end %>
							<h2>Phasellus magna faucibus</h2>
							<p>Nulla dignissim libero maximus tellus varius dictum ut posuere magna.</p>
						</article>
						<article>
                <%= link_to image_path('fulls/07.jpg'), class: "thumbnail" do %>
                                    <%= image_tag 'thumbs/07.jpg', alt: "" %>
                                    <% end %>
							<h2>Proin quis mauris</h2>
							<p>Etiam ultricies, lorem quis efficitur porttitor, facilisis ante orci urna.</p>
						</article>
						<article>
                <%= link_to image_path('fulls/08.jpg'), class: "thumbnail" do %>
                                    <%= image_tag 'thumbs/08.jpg', alt: "" %>
                                    <% end %>
							<h2>Gravida quis varius enim</h2>
							<p>Nunc egestas congue lorem. Nullam dictum placerat ex sapien tortor mattis.</p>
						</article>
				
						</article>
					</section>

                    